li {
    padding: 5px;
    margin: 5px;
    background: rebeccapurple;
    color: white;
    text-align: left;
    width: 65%;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

h1 {
    color: rebeccapurple;
    font-style: italic;
    font-family: Serif;
}



h4 {
    color: rebeccapurple;
    font-style: italic;
    font-family:  Serif;
}

label {
    color: rebeccapurple;
    font-style: italic;
    font-family: Serif;
}
